body{
    margin: 0;
    padding: 0;
    background-color: yellow;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.genre-column{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: blue;
    border: solid white 5px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
#game{
    display: flex;
}
.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: #c73b1e;
}

.true-button {
    background-color: #63b36e;
}

.false-button {
    background-color: #aa231e;
}
h2{
    background-color:black;
}